@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --header-height: 0px;
  --header-padding: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 300ms filter;
  font-family: 'Open Sans', sans-serif;
  /*font-family: "Open Sans Light", sans-serif;*/
}

body {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(15px);
  overflow: hidden;
}

body.maximized {
  border-radius: 0px;
}

.fillScreen {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.loaderContainer {
  height: 20px;
  width: 20px;
  overflow: hidden;
  padding: 4px;
}

.loader {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  border-right: 4px solid rgba(0, 0, 0, 0.35);
  border-bottom: 4px solid rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  animation: loader linear 0.4s infinite;
  /*box-shadow: 0 0 5px #000, inset 0 0 5px #000;*/
  margin: 0;
  padding: 0;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

::selection {
  /*color: rgba(225, 225, 225, 1);*/
  /*text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);*/
  background-color: rgba(168, 206, 255, 0.45);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.useScrollBar::-webkit-scrollbar {
  width: 10px;
  margin-right: 2px;
}
 
.useScrollBar::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  background-color: rgba(0, 0, 0, 0.15);
}
 
.useScrollBar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.useHiddenScrollBar::-webkit-scrollbar {
  display: none;
  overflow: scroll;
}
/* Hide scrollbar for IE, Edge and Firefox */
.useHiddenScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}

.windowTitle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  display: none;
}

.windowTitle .windowTitleText {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  font-size: 0.75em;
}

.windowTitle .dragableHeader {
  position: fixed;
  height: var(--header-height);
  width: calc(100% - (var(--header-height) * 3) - 2.5px);
  -webkit-app-region: drag;
  z-index: 102;
  cursor: move;
}

.windowTitle .windowBtns {
  justify-content: flex-end;
}

.windowTitle .windowBtns div[class$="Btn"] {
  top: 0;
  height: var(--header-height);
  width: var(--header-height);
  right: 2.5px;
  z-index: 103;
  cursor: pointer;
  display: inline-block;
}

.windowTitle .windowBtns div[class$="Btn"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.6em;
  transition: 100ms;
}

.windowTitle .windowBtns div[class$="Btn"]:hover::before {
  color: rgba(0, 0, 0, 0.8);
}

.windowTitle .windowBtns div.closeBtn::before {
  content: "\f00d";
  font-size: 0.8em;
}

.windowTitle .windowBtns div.maxBtn::before {
  content: "\f2d0";
}

.windowTitle .windowBtns div.minBtn::before {
  content: "\f2d1";
}